@charset "utf-8";

#navigation {
    float: left;
    width: 100%;
    background: #333;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    text-transform: uppercase;
}

#navigation ul {
    margin: 0;
    padding: 0;
    float: left;
}

#navigation ul li {
    display: block;
    border-top: 1px solid #fff;
    margin: 0;
    color: white;
    background-color: black;
    text-decoration: none;
}

#navigation a, #navigation h4 {
    display: block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

#navigation a:hover {
    background: orange;
}

#navigation li {
    position: relative;
}

#navigation ul ul {
    position: absolute;
}

#navigation ul ul ul {
    top: 0;
    left: 100%;
}

div#navigation ul ul, div#navigation ul li:hover ul ul, div#navigation ul ul li:hover ul ul {
    display: none;
}

div#navigation ul li:hover ul, div#navigation ul ul li:hover ul, div#navigation ul ul ul li:hover ul {
    display: block;
}

#menu {
    float: left;
    width: 100%;
    background: #333;
}

#menu ul {
    margin: 0;
    padding: 0;
    width: 8em;
    float: left;
}

#menu a, #menu ul li {
    display: block;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    color: white;
    background-color: black;
    text-decoration: none;
}

#menu a:hover {
    background: orange;
}

#menu li {
    position: relative;
}

#menu ul ul {
    position: absolute;
    /*z-index: 500;*/
}

#menu ul ul ul {
    top: 0;
    left: 100%;
}

div#menu ul ul, div#menu ul li:hover ul ul, div#menu ul ul li:hover ul ul {
    display: none;
}

div#menu ul li:hover ul, div#menu ul ul li:hover ul, div#menu ul ul ul li:hover ul {
    display: block;
}

#aside1 {
    margin-top: 15px;
}

a:link {
    color: blue;
}

a:visited {
    color: blue;
}

#paging {
}

#admin-info {
    background-color: infobackground;
    padding: 1em 10px 1em 10px;
}

#database-info {
    background-color: infobackground;
    padding: 1em 10px 1em 10px;
    margin-top: 15px;
}

div#detail {
    margin-top: 20px;
}

table#detail tr th {
    background-color: #E5EECC;
    text-align: right;
    padding: 1px 5px 1px 5px;
    width: 120px;
}

table
#add tr td {
    background-color: #E5EECC;
    text-align: left;
    padding: 1px 5px 1px 5px;
}

table#detail tr td {
    background-color: #E5EECC;
    text-align: left;
    padding: 1px 5px 1px 5px;
    width: 200px;
}

table#search tr th {
    background-color: #E5EECC;
    text-align: right;
    padding: 1px 5px 1px 5px;
    width: 120px;
}

table#search tr td {
    background-color: #E5EECC;
    text-align: left;
    width: 180px;
}

table thead th {
    background-color: #E5EECC;
}

table tbody tr.even {
}

table tbody tr.odd {
    background-color: #E6E6E6;
}

table#highlight tbody tr:hover {
    background-color: infobackground;
}

table tbody tr td a:visited {
    color: #3366FF;
}

table tbody tr td a:link {
    color: #3366FF;
}

table tbody tr td a:hover {
    color: #FF6633;
}

/* body container */
#container {
    margin: 0 auto;
    width: 1200px;
    min-width: 1200px;
    max-width: 1200px;
    border-color: silver;
    border-width: 1px;
    border-style: solid;
	background: #fff;
}

#header {
    background: #3B5998;
    padding: 20px;
    color: white;
}

#header h1 {
    margin: 0;
}

#content-container {
    float: left;
    width: 100%;
    min-height: 800px;
}


/* Middle column: Main content of website */ 
#content {
    float: left;
    width: 787px;
    min-width: 700px;
    min-height: 850px;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline;
    border-color: #999999;
    /*
	border-right-style: solid;
    border-right-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
	*/
	border-top-style: solid;
	border-top-width:1px; 
    background-color:#ffffff;
}


#content h2 {
    margin: 0;
}

#rightAside {
    float: right;
    width: 200px;
    max-width: 200px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 1px;
    margin-bottom: 2px;
    display: inline;
}

#leftAside {
    float: left;
    width: 200px;
    max-width: 200px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 1px;
    margin-bottom: 2px;
    display: inline;
}

#aside h3 {
    margin: 0;
}

#footer {
    clear: left;
    background: #3B5998;
    text-align: right;
    padding: 5px;
    color: white;
}

#footer a {
    color: white;
}

#footer a:hover {
    color: fuchsia;
}

#navfooter {
    float: left;
    width: 900px;
    background: #3B5998;
}

#navfooter ul {
    margin: 0;
    padding: 0;
}

#navfooter ul li {
    list-style-type: none;
    display: inline;
}

#navfooter li a {
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

#navfooter li a:hover {
    background: #383;
}

/* hang an cap */
.blockTitle {
    background: none repeat scroll 0 50% #000000;
    border-bottom: 2px solid #DBDBDB;
    color: #FFCC00;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    font-weight: bold;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-top: 3px;
    text-align: left;
    text-transform: uppercase;
}

/* Left or Right menu block */
.block {
    background: none repeat scroll 0 50% #EEEEEE;
    border-color: #2C2C2C #9F9F9F #E5E5E5;
    border-style: solid;
    border-width: 4px 1px;
    border-bottom-color: #000000;
    border-bottom-width: 2px;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 2px;
}

/* View phones or accesories */
.block01 {
    background-color:#ffffff;
    border-color: #2C2C2C #9F9F9F #E5E5E5;
    border-style: solid;
    border-width: 1px 1px;
    border-bottom-color: #000000;
    border-bottom-width: 2px;
    text-align: left;
    margin-bottom: 5px;
}

/*.SIM_Line {
 background-image:url("../Images/SiteImages/Block/icon_01.gif");
 background-position:10px 50%;
 background-repeat:no-repeat;
 border-bottom:1px dotted #C5C5C5;
 color:Black;
 cursor:pointer;
 padding:5px 5px 4px 30px;
 text-align:left;
 }*/
.blockSubTitle {
    background: none repeat scroll 0 50% #D1D1D1;
    border-bottom: 3px solid #DADADA;
    border-top: 1px solid #B8B8B8;
    color: #000000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    font-weight: bolder;
    margin: 0;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-top: 3px;
}

.blockSubTitle01 {
    background: none repeat scroll 0 50% #e8f2fe;
    border-left: 1px solid #000000;
	border-top: 1px solid #000000;
    color: #000000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    font-weight: bolder;
    margin: 0;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-top: 3px;
	text-transform:uppercase;
}

.blockLineElement {
    background-image: url("icon/icon_01.gif");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-color: #FEFEFE;
    border-bottom: 1px dotted #C5C5C5;
    color: Black;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    padding: 2px 1px 4px 30px;
}

.blockLineElement a {
    color: Black;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.blockLineElement a:hover {
    color: #FF0000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.blockSearchFunction_Line {
    background-color: #FEFEFE;
    border-bottom-style: hidden;
    border-bottom-width: 1px;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    padding-left: 10px;
}

.blockSearchFunction_Image {
    margin-right: 10px;
    vertical-align: middle;
}

.lineContact {
    background-image: url("icon/adv.gif");
    background-position: 10px 1px;
    background-repeat: no-repeat;
    border-bottom: 1px dotted #CECECE;
    color: #000000;
    margin: 0 0 5px;
    padding: 5px 0 7px 40px;
}

.lineContact a {
    color: Black;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.lineContact a:hover {
    color: #FF0000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.lineSuggestion {
    background-image: url("icon/sug.gif");
    background-position: 10px 1px;
    background-repeat: no-repeat;
    border-bottom: 1px dotted #CECECE;
    color: #000000;
    margin: 0 0 5px;
    padding: 5px 0 7px 40px;
}

.lineSuggestion a {
    color: Black;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.lineSuggestion a:hover {
    color: #FF0000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.smallFont {
    padding-left: 10px;
    color: #FF3366;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    font-weight: bold;
}

.stepOne {
    background-image: url("icon/buletOne.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #000000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    padding: 3px 0 3px 28px;
}

.stepOne a {
    color: #000000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.stepOne a:hover {
    color: #FF0000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.stepTwo {
    background-image: url("icon/buletTwo.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #000000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    padding: 3px 0 3px 28px;
}

.stepTwo a {
    color: #000000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.stepTwo a:hover {
    color: #FF0000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.stepThree {
    background-image: url("icon/buletThree.gif");
    background-position: 5px center;
    background-repeat: no-repeat;
    color: #000000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    padding: 3px 0 3px 28px;
}

.stepThree a {
    color: #000000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.stepThree a:hover {
    color: #FF0000;
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    text-decoration: none;
}

.input01 {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 180px;;
}

.input02 {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
    width: 176px;
}

.search01 {
    margin-left: 10px;
}

.pageTittle {
    color: #FFFFFF;
}

.pageTittle a {
    color: #FFFFFF;
    text-decoration: none;
}

.pageTittle a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.pageTittle a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

/* Phone & Accessory  List */
.itemLeft {
    float: left;
    vertical-align: top;
    width: 24%;
    border-bottom: 1px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
    height: 150px;
	text-align:center;
}
.itemImageAndName {
	width:100%; 
	padding:0px;
	height:100px;	
	text-align:center;
}
.itemImage {
	width:100%; 
	padding-top:5px; 
	height:75px;
}
.itemCenter {
    float: left;
    vertical-align: top;
    width: 24%;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    height: 150px;
	text-align:center;
}

.phoneRow {
    height: 146px;
    padding: 0 0 0 14px;
    text-align: center;
}

.isNotNewModel {
    background-color: Transparent;
    height: 22px;
    width: 100%;
}
.isNewModel {
	background:url("icon/New.gif") no-repeat scroll right center Transparent;
	height:22px;
	width:100%;
}
.itemPrice {
    color:#FF0000;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:8pt;
	font-weight:bold;
	padding:5px 0;
}

.itemName {
    color: #0080FF;
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
	text-align:center;
}

.itemName a {
	color: #0080FF;
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
	text-align:center;
}

.itemName01 {
    color: #0080FF;
    font-size: 8pt;
    text-decoration: none;
	text-align:center;
}

.itemName01 a {
    color: #0080FF;
    font-size: 8pt;
    text-decoration: none;
	text-align:center;
}


.contentCenter {
    /*border-left: 1px solid #000000;
    border-right: 1px solid #000000;*/
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    padding: 2px 4px 5px 2px;
	clear:both;
}

.contentCenter01 {
    font-family: Arial, Times New Roman, Tahoma, Verdana;
    font-size: 9pt;
    padding: 2px 4px 5px 2px;
	clear:both;
}

.subContent {
	clear:both;
}
.paging {
	clear:both;
	background-color:#e8f2fe;
	font-family:arial,sans-serif;
	font-size:small;
	text-align:right;
	padding-right:5px;
}
.paging a {
	text-decoration:none;
}
.paging a:hover {
	text-decoration:underline;
}

a img {
	border:none;
}

.notFound {
	clear:both;
	font-family:arial,sans-serif;
	font-size:15px;
	color:red;
	text-align:center;
}

.helpSearch {
	color:#000000;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:10pt;
	font-style:italic;
	padding:5px;
	text-align:justify;
}

.criteriaBox {
	border-style:solid;
	border-color:#8b8b8b;
	border-width:1px;
}

/* product detail */ 
.phoneDetail_Name {
	color:Black;
	font-size:12px;
	font-weight:bold;
	padding-bottom:3px;
	padding-top:3px;
	text-align:center;
	width:100%;
}

.phoneDetail_Image {
	cursor:pointer;
	text-align:center;
	width:100%;
}

.phoneDetail_Price {
	color:Red;
	font-size:15pt;
	font-weight:bold;
	text-align:center;
	margin-top:5px;
}

.bookProduct {
	background:url("icon/booksProduct.gif") no-repeat scroll left center #FFFFFF;
	height:22px;
	padding-top:5px;
	text-align:left;
	padding-left:2px;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:8pt;
	font-weight:bold;
	width:100%;
}


.compareProduct {
	background:url("icon/compareProduct.gif") no-repeat scroll left center #FFFFFF;
	cursor:pointer;
	height:22px;
	padding-top:5px;
	text-align:left;
	padding-left:2px;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:8pt;
	font-weight:bold;
	width:180px;
}

.supportProduct {
	background:url("icon/supportProduct.gif") no-repeat scroll left center #FFFFFF;
	cursor:pointer;
	height:22px;
	padding-top:5px;
	text-align:left;
	padding-left:2px;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:8pt;
	font-weight:bold;
	width:180px;
}

.phoneDetail_Seperator  {
	border-collapse:collapse;
	border-top:1px solid #DDDDDD;
	height:2px;
	margin-bottom:3px;
	margin-top:5px;
	width:100%;
}

/** inner columns for phone details */
#innerRightColumn {
    float: left;
    width: 580x;
    max-width: 580px;
	min-width:580px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 1px;
    margin-bottom: 2px;
	margin-left:2px;
    display: inline;
	
/*
	border-color:#c8c8c8;
	border-width:1px;
	border-style:solid;
*/
}

#innerLeftColumn {
    float: left;
    width: 185px;
    max-width: 185px;
	min-width:185px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 1px;
    margin-bottom: 2px;
    display: inline;
	
	border-color:#c8c8c8;
	border-width:1px;
	border-style:solid;
}

.block02 {
	clear:both;
    background-color:#ffffff;
    border-color: #2C2C2C #9F9F9F #E5E5E5;
    border-style: solid;
    border-width: 1px 1px;
    border-bottom-color: #000000;
    border-bottom-width: 2px;
    text-align: left;
    margin-bottom: 5px;
}

.block03 {
	clear:both;
    border-color: #c8c8c8;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    margin-bottom: 5px;
}

.detailTitle {
	background:none repeat scroll 0 50% #D1D1D1;
	/*
	border-bottom:2px solid #DADADA;
	border-top:1px solid #B8B8B8;
	*/
	color:#000000;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:9pt;
	font-weight:bolder;
	padding-bottom:3px;
	padding-left:15px;
	padding-top:3px;
}


.boxTop {
	background-color:#E4E4E4;
	width:100%;
	border-top:1px solid #c8c8c8;
}

.boxCenter {
	background-color:#E4E4E4;
	border-top:1px solid #BBBBBB;
	margin-top:2px;
	width:100%;
}

.boxLeft {
	color:#000000;
	float:left;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:12px;
	font-weight:bold;
	padding-left:5px;
	padding-top:10px;
	width:150px;
}

.boxTR {
	background-color:#F5F5F5;
	border-bottom:1px solid #E4E4E4;
}

.boxRight {
	margin-left:155px;
}

.cellTitle {
	background-color:Transparent;
	border:0 solid #000000;
	float:left;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:9pt;
	padding:3px 0 3px 10px;
	width:120px;
}
.cellContent {
	background-color:#FFFFFF;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:9pt;
	margin-left:130px;
	padding:3px 0 3px 10px;
	min-height:15px;
}

.na {
	text-align:center;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:9pt;
	color:#4f9f55;
	font-weight:bold;
}

.accessoryDetail_Name {
	color:Black;
	font-size:12px;
	font-weight:bold;
	padding-bottom:3px;
	padding-top:3px;
	text-align:center;
	width:100%;
}

.accessoryDetail_Image {
	cursor:pointer;
	text-align:center;
	width:100%;
}

.accessoryDetail_Price {
	color:Red;
	font-size:15pt;
	font-weight:bold;
	text-align:center;
	margin-top:5px;
}

.compatablePhone {
    float: left;
    vertical-align: middle;
    width: 24%;
	text-align:left;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:8.5pt;
	margin-top:3px;
}

.compatablePhone a  {
	background:none repeat scroll 0 0 transparent;
	font-weight:bold;
	text-decoration:none;
	
}

.compatablePhone a:hover  {
	background:none repeat scroll 0 0 transparent;
	color:red;
	font-weight:bold;
	text-decoration:none;
}


.compatableAccessory {
    float: left;
    vertical-align: middle;
    width: 23%;
	text-align:left;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:8.5pt;
	margin-top:3px;
	margin-left:8px;
	border-left:1px  solid #c8c8c8;
	border-bottom:1px  solid #c8c8c8;
}

.compatableAccessory a  {
	background:none repeat scroll 0 0 transparent;
	font-weight:bold;
	text-decoration:none;
}

.compatableAccessory a:hover  {
	background:none repeat scroll 0 0 transparent;
	color:red;
	font-weight:bold;
	text-decoration:none;
}

#advancedSearchLink {
	text-align:center;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:8.5pt;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:10px;
	margin-bottom:5px;
}

#advancedSearchLink a {
	text-decoration:none;
}

#advancedSearchLink a:hover {
	color:red;
}

.link01 {
	text-align:center;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:8.5pt;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:10px;
	margin-bottom:5px;
}

.link01 a {
	text-decoration:none;
}

.link01 a:hover {
	color:red;
}

/* register */
.regInput01 {
	width:90%;
}
.error { 
	color: red; 
}

.loginError {
	text-align:center;
	font-family:Arial,Times New Roman,Tahoma,Verdana;
	font-size:8.5pt;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:10px;
	margin-bottom:5px;
	color:red;
}


